body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: #ff6464 !important;
    border-color: #a55;
}

.navbar-default .navbar-nav > li > a {
    color: #ebebeb;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.nav-brand-img{
    padding:5px 15px;
}

a {
    color: #ff6464;
}

a:hover, a:focus {
    color: #a55;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff6464;
    border-color: #a55;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #ee5c5c;
    border-color: #a55;
}

.btn-primary a{
    color:#fff;
    text-decoration:none;
}

.btn-primary:hover a {
    color: #fff;
    text-decoration: none;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #d36a6a;
    border-color: #a55;
}

.dropdown{
    display: inline-block;
    margin-left:8px;
}

#tipoviPromenaTabela a, #promeneTabela a{
    text-decoration: none;
}

#tipoviPromenaTabela input.check-box:checked::after {
    content: "❌";
    display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffd0d0;
}

.checkbox input[type="checkbox"]#PozitivnostTipa {
    margin-left: 0;
}

.mt-70{
    margin-top: 70px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-4 {
    margin-left: 4px;
}

#login-form {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0px 29px 47px -20px rgba(0,0,0,0.4);
}

#login-form h1 {
    text-align: center;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0 auto;
}

.field-validation-error{
    font-size: 12px;
}

.bg-pattern {
    background: #fff8f4 url("/Content/images/finnfox-bg50.png") repeat right bottom;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}

.select2-container .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    height: 38px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff6464;
    color: white;
    font-weight: 700;
}
.select2-container--open .select2-dropdown--below {
    box-shadow: 0px 18px 17px -11px rgba(0,0,0,0.3);
}

.bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
    border-left: none;
    border-right: none;
}

.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: none;
}

.centered{
    display: block;
    margin: 0 auto;
}

.img-centered{
    min-width:320px;
    width:40%;
}

.btn-large-centered{
    width:140px;
    display: block;
    margin: 0 auto;
}

.title-large {
    font-weight: 900;
    margin: -7vh 0 0 0;
}

.subtitle-large{
    margin-top: 0px;
}

.centered-vert-and-hor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overflow-hidden{
    overflow: hidden;
}

.align-with-dt {
    margin-bottom: 30px;
}

.nav-tabs.nav-justified > .active > a{
    font-weight: 900;
}

#logo-centered {
    display: block;
    margin: 30px auto 10px auto;
    width: 40%;
    max-width: 180px;
}

.nav-logotype {
    width: 120px;
    margin-top: 8px;
}

.balance {
    float: right;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    border: 1px solid transparent;
    color: #000;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.balance-positive {
    background-color: #5ed962;
    border-color: #14ac19;
}

.balance-negative {
    background-color: #ff6464;
    border-color: #a55;
}

.panel-body img {
    display: block;
    width: 60%;
    margin: 10px auto;
}

.panel-footer .btn{
    display: inline-block;
}

.panel {
    box-shadow: 0px 22px 29px -10px rgba(0,0,0,0.3);
}

.panel-heading h4 {
    font-family: Verdana;
    text-align: center;
}

.page-header h1 {
    font-size: 29px;
    font-family: "Helvetica";
    letter-spacing: -0.7px;
    font-weight: 900;
}

h2 {
    font-size: 29px;
    font-family: "Helvetica";
    letter-spacing: -0.7px;
    font-weight: 900;
}

.page-header small{
    float:none;
}


@media (min-width: 768px) {
    .align-with-dt {
        width: 160px;
        display: block;
    }
    .align-with-dt a, .align-with-dt input{
        float: right;
    }
    .page-header small {
        float: right;
    }
}

