body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: #ff6464 !important;
    border-color: #a55;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.nav-brand-img{
    padding:5px 15px;
}

a {
    color: #ff6464;
}

a:hover, a:focus {
    color: #a55;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff6464;
    border-color: #a55;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #ee5c5c;
    border-color: #a55;
}

.btn-primary a{
    color:#fff;
    text-decoration:none;
}

.btn-primary:hover a {
    color: #fff;
    text-decoration: none;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #d36a6a;
    border-color: #a55;
}

.dropdown{
    display: inline-block;
    margin-left:8px;
}

#tipoviPromenaTabela a{
    text-decoration: none;
}

#tipoviPromenaTabela input.check-box:checked::after {
    content: "❌";
    display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffd0d0;
}

.checkbox input[type="checkbox"]#PozitivnostTipa {
    margin-left: 0;
}

.mt-70{
    margin-top: 70px;
}

.ml-4 {
    margin-left: 4px;
}