
@{
    ViewBag.Title = "Globalna Analitika";
}
    <div ng-app="globalnaAnalitika">
        <div id="global-ctrl-wrapper" ng-controller="globalnaAnalitikaController">
            <h2>Globalna Analitika</h2>
            <button id="test2019" onclick="angular.element(document.getElementById('global-ctrl-wrapper')).scope().drawOrUpdateStackedBarChart(2019)">test 2019</button>
            <button id="submit" onclick="angular.element(document.getElementById('global-ctrl-wrapper')).scope().submit(7)">Submit</button>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <canvas id="globalChartCanvas" width="200" height="200"></canvas>
                </div>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/angular")
                @Scripts.Render("~/bundles/angular-globalnaAnalitika")
                @Scripts.Render("~/bundles/chart")

                <script>
                                                    //$("#test2019").click(function () {
                                                    //    drawOrUpdateStackedBarChart(2019);
                                                    //});
                </script>
            }
        </div>
    </div>
