
@{
    ViewBag.Title = "Globalna Analitika";
}
<div ng-app="globalnaAnalitika">
    <div id="global-ctrl-wrapper" ng-controller="globalnaAnalitikaController">
        <div class="row mt-70">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item active" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#raspodela-troskova">Raspodela troškova korisnika</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#prosecna-usteda">Prosečna ušteda korisnika</a>
                </li>
            </ul>
        </div>
        <h2>Globalna Analitika</h2>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="raspodela-troskova">
                <h4>Raspodela troškova po kategorijama FinnFox korisnika</h4>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="godineUsistemuGlobal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="selected-year">{{currentYear}}</span>  
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="godineUsistemuGlobal" id="godine-dropdown-global">
                        <li ng-repeat="godina in godineSviKorisnici"><a class="{{godina}}" href="#">{{godina}}</a></li>
                    </ul>
                </div>

                @*<button id="submit" onclick="angular.element(document.getElementById('global-ctrl-wrapper')).scope().submit(7)">Submit</button>*@
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <canvas id="globalBarChartCanvas" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="prosecna-usteda">
                <h4>Prosečna štednja FinnFox korisnika po mesecima</h4>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <canvas id="globalLineChartCanvas" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>




            @section Scripts {
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/angular")
                @Scripts.Render("~/bundles/angular-globalnaAnalitika")
                @Scripts.Render("~/bundles/chart")

                <script>
                                            //angular.element(document.getElementById('global-ctrl-wrapper')).scope().drawOrUpdateStackedBarChart(2019);

                </script>
            }
        </div>
</div>
